body{
    font-family: 'Nunito', sans-serif;
}

nav{
    height: 60px;
    background: #1c3747;
    
}

.main_container{
    width: 1100px;
    margin: 0 auto;
}

.logo{
    float:left;
    font-size: 23px;
    line-height: 60px;
    color: #ffffff;
}

.main_menu_nav{
    float:left;
    padding-left: 430px;
}

.main_menu_nav li{
    float:left;
    line-height: 60px;
    padding-left: 20px;
    text-transform: uppercase;
    color:#ffffff;
}

.main_start {
    height: calc(100% - 60px);
    background: url(../img/background.png) center/cover no-repeat ;
    box-shadow: 0px 9px 11px -2px rgba(34, 60, 80, 0.2) inset;
}


.main_title{
    float: left;
    padding-top: 390px;
    text-align: center;
}

.main_title h1{
    color:#1c3747;
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
}

.main_title h4{
    font-size: 18px;
    margin-top: 25px;
    color:#4e5b63;
}

.main_title input{
    background: none;
    height: 40px;
    font-size: 15px;
    margin: 30px 15px;
    padding: 0px 10px;
    text-align: center;
    border: 2px solid #4e5b63;
    color: #4e5b63;
    border-radius: 10px;
}

.main_about_second{
    height: 715px;
    background: #fff;
    text-align: center;
    box-shadow: 0px -8px 8px 0px rgba(34, 60, 80, 0.2);
}

.main_about_second h2{
    padding-top: 80px;
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
}

.icon_line{
    margin-top: 27px;
}

.second_logo{
    width: 200px;
    height: 200px;
    margin: 60px 0px 0px 450px;
    border-radius: 50%;
    background: url(../img/background.png) 100%/cover no-repeat;
    box-shadow: 0px 0px 55px 0px rgba(89, 134, 169, 0.2);
}

.main_about_second p{
    text-align: start;
    width: 730px;
    margin-left: 200px;
    padding-top: 30px;
    color:3f495a ;
}

.button_about {
    margin-top: 35px;
    border: 2px solid #4e5b63;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    margin: 40px auto;
}

.main_about_second input{
    font-size: 14px;
    color: #4e5b63;
    background: none;
    line-height: 30px;
}

.button_about img{
    float:left;
    padding: 7px 0px 0px 10px;
}

.main_what_third{
    height: 530px;
    background: url(../img/background_what.png) center/cover no-repeat;
    text-align: center;
    box-shadow: 0px -15px 27px -15px rgba(34, 60, 80, 0.2);
}

.main_what_third h2{
    padding-top: 80px;
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
}

.about_main{
    margin-top: 130px;
}
.about_main img{
    width: 50px;
    height: 42px;
}

.about_main>div{
    float:left;
    width: 210px;
    margin-left: 45px;
}

.about_main h3{
    margin-top: 45px;
    color: #d17700;
    font-size: 16px;
    font-weight: bold;
}

.about_main p{
    margin-top: 25px;
    color:#1c3747;
}

.main_case_fourth{
    text-align: center;
}

.main_case_fourth h2{
    padding-top: 80px;
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
}

.p_about{
    padding: 35px 0px;
}

.slider{
    width: 100%;
    height: 600px;
    background: url(../img/text_block.png) center/cover no-repeat ;
}

.under_slider{
   width: 100%;
   height: 130px;
}

.slider_client{
    float: left;
    text-align: start;
}

.slider_website{
    text-align: start;
    position: absolute;
    padding-top: 50px;
}

.slider_project{
    text-align: start;
    padding-left: 200px;
    float: left;
}

.visit_live{
    width: 200px;
    height: 45px;
    display: block;
    position: absolute;
    font-size: 17px;
    margin-top: 100px;
    background: #63b5ae;
    color:#fff;
    border-radius: 10px;
    text-transform: uppercase;

}

.under_slider h3{
    color:#384354;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.under_slider p{
    padding-top: 5px;
    color:#1c3747;
}