body{
    font-family: 'Nunito', sans-serif;
}

nav{
    height: 60px;
    background: #1c3747;
    
}

.main_container{
    width: 1100px;
    margin: 0 auto;
}

.logo{
    float:left;
    font-size: 23px;
    line-height: 60px;
    color: #ffffff;
}

.main_menu_nav{
    float:left;
    padding-left: 430px;
}

.main_menu_nav li{
    float:left;
    line-height: 60px;
    padding-left: 20px;
    text-transform: uppercase;
    color:#ffffff;
}

.main_start {
    height: calc(100% - 60px);
    background: url(../img/background.png) center/cover no-repeat ;
    box-shadow: 0px 9px 11px -2px rgba(34, 60, 80, 0.2) inset;
}


.main_title{
    float: left;
    padding-top: 390px;
    text-align: center;
}

.main_title h1{
    color:#1c3747;
    font-size: 40px;
    font-weight: bold;
    padding-top: 25px;
}

.main_title h4{
    font-size: 18px;
    margin-top: 25px;
    color:#4e5b63;
}

.main_title input{
    background: none;
    height: 40px;
    font-size: 15px;
    margin: 30px 15px;
    padding: 0px 10px;
    text-align: center;
    border: 2px solid #4e5b63;
    color: #4e5b63;
    border-radius: 10px;
}

.main_about_second{
    height: 715px;
    background: #fff;
    text-align: center;
    box-shadow: 0px -8px 8px 0px rgba(34, 60, 80, 0.2);
}

.main_about_second h2{
    padding-top: 80px;
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
}

.icon_line{
    margin-top: 27px;

}

.second_logo{
    width: 200px;
    height: 200px;
    margin: 60px 0px 0px 450px;
    border-radius: 50%;
    background: url(../img/background.png) 100%/cover no-repeat;
    box-shadow: 0px 0px 55px 0px rgba(89, 134, 169, 0.2);
}

.main_about_second p{
    text-align: start;
    width: 730px;
    margin-left: 200px;
    padding-top: 30px;
    color:3f495a ;
}

.button_about {
    margin-top: 35px;
    border: 2px solid #4e5b63;
    border-radius: 10px;
    width: 165px;
    height: 35px;
    margin: 40px auto;
}

.main_about_second input{
    font-size: 14px;
    color: #4e5b63;
    background: none;
    line-height: 30px;
}

.button_about img{
    float:left;
    padding: 7px 0px 0px 10px;
}

.main_what_third{
    height: 530px;
    background: url(../img/background_what.png) center/cover no-repeat;
    text-align: center;
    box-shadow: 0px -15px 27px -15px rgba(34, 60, 80, 0.2);
}

.main_what_third h2{
    padding-top: 80px;
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
}

.about_main{
    margin-top: 130px;
}
.about_main img{
    width: 50px;
    height: 42px;
}

.about_main>div{
    float:left;
    width: 210px;
    margin-left: 45px;
}

.about_main h3{
    margin-top: 45px;
    color: #d17700;
    font-size: 16px;
    font-weight: bold;
}

.about_main p{
    margin-top: 25px;
    color:#1c3747;
}

.main_case_fourth{
    text-align: center;
}

.main_case_fourth h2{
    padding-top: 80px;
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
}

.p_about{
    padding: 35px 0px;
}

.slider{
    width: 100%;
    height: 600px;
    background: url(../img/text_block.png) center/cover no-repeat ;
}

.under_slider{
    float: left;
    height: 130px;
    width: 280px;
    text-align: start;
}

.slider_project{
    height: 130px;
    width: 100%;
    text-align: start;
}

.visit_live{
    float: left;
    width: 200px;
    height: 45px;
    font-size: 17px;
    background: #63b5ae;
    color:#fff;
    border-radius: 10px;
    text-transform: uppercase;
}

.slider_website{
    margin-top: 20px;
}

.slider_project h3{
    color:#384354;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.slider_project p{
    padding-top: 5px;
    color:#1c3747;
}

.under_slider h3{
    color:#384354;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.under_slider p{
    padding-top: 5px;
    color:#1c3747;
}

.main_counter_five{
    margin-top: 200px;
}

.main_counter_five h2{
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
    text-align: center;
}

.main_counter_five h3{
    padding-top: 15px;
    padding-left: 100px;
    text-align: start;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1c3747;
}

.main_counter_five select{
    font-size: 14px;
    margin: 10px 0px 0px 100px;
    padding: 0px 15px;
    background: #eeeeee;
    height: 50px;
    width: 800px;
}

.counter_underline{
    width: 800px;
    margin: 30px 0px 0px 100px;
    box-shadow: 0px -3px 0px 0px rgba(34, 60, 80, 0.2);
}

.counter_underline p {
    font-size: 15px;
    color: #1c3747;
    font-weight: bold;
    padding-top: 20px;
}

.main_statistic_six{
    height: 500px;
    background: url(../img/stats_background.png) 100%/100% no-repeat;
    margin-top: 150px;
    text-align: center;
}

.main_statistic_six h2{
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}

.stats_bar{
    padding-top: 90px;
}

.stats_bar div{
    float:left;
    padding-left: 130px;
}

.stats_bar h3{
    padding-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: #1c3747;
}
.stats_bar p{
    font-size: 12px;
    padding-top: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c3747;
}

.main_feedback_seven{
    text-align: center;
}

.main_feedback_seven h2{
    font-size: 32px;
    color: #1c3747;
    font-weight: bold;
    padding-top: 100px;
}

.client_feed{
    margin: 60px auto 0px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url(../img/gen_dir.png) 100%/100% no-repeat;
}


.client_feedback{
    margin-top: 30px;

}

.client_feedback p{
    color: #1c3747;
    padding-top: 35px;
    font-size: 14px;
}

.cl_span{
    font-weight: bold;
}

.wheel{
    margin: 50px 500px;
    padding-left: 10px;
}

.wh1{
    background: #d17700;
}

.wheel div{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #cfd2d7;
    float: left;
    margin-left: 10px;
}


.main_contacts_eight{
    margin-top: 130px;
    text-align: center;
    background:url(../img/footer_background.png) 100%/100% no-repeat;
    height: 100%;
}

.main_contacts_eight h2{
    font-size: 32px;
    color: #cfd2d7;
    font-weight: bold;
    padding-top: 100px;
}

.main_contacts_eight p {
    margin-top: 30px;
    color: #cfd2d7;
}

.contacts_feedback{
    margin: 60px 130px;
}

.contacts_feedback li{
    float: left;
    padding-left: 100px;
}

.main_contacts_eight h3{
    padding-top: 150px;
    font-size: 22px;
    color: #cfd2d7;
    text-transform: uppercase;
    font-weight: bold;
}

.client_feedback_form{
    margin-top: 50px;
}

.feed_top input{
    width: 350px;
    height: 35px;
    background: rgba(210, 213, 220, 0.3);
    padding-left: 10px;
    margin-left: 10px;
}

#fed_bot1{
    width: 707px;
    margin-top: 20px;
    background: rgba(210, 213, 220, 0.3);
}

#cl_submit1{
    background: none;
    margin-top: 30px;
    font-size: 15px;
    color: #cfd2d7;
    border: 2px solid #cfd2d7 ;
    border-radius: 10px;
    height: 50px;
    width: 130px;
}

.footer{
    height: 60px;
    width: 100%;
    background: #1c3747;
    text-align: center;
}

.footer p{
    font-size: 15px;
    color: #fff;
    line-height: 60px;
}